<div class="container-fluid mt-5 contact-style" id="contactid">
  <div class="row">
    <div class="col-md-10 col-12 max-auto">
        <h1 class="text-center main-heading">Contact us</h1>
        <p class="text-center sub-heading">we will be happy to help you</p>

        <div class="row">
          <div class="col-md-6 col-12 mx-auto">

            <form action="/contact" method="POST">

                {{!-- NAME FILLUP --}}
            <div class="form-group">
              <label for="exapmleInputPassword1">Name</label>
              <input type="text" class="form-control" id="exapmleInputPassword1" placeholder="Full Name" name="name">
            </div>

              {{!-- EMAIL ADDRESS FILLUP --}}
            <div class="form-group">
              <label for="exapmleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exapmleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Your Email" name="email">
              <small id="emailHelp" class="form-text text-muted">we will never share your email with anyone else</small>
            </div>

              {{!-- PHONE NUMBER FILL UP --}}
            <div class="form-group">
              <label for="exapmleInputPassword1">Phone</label>
              <input type="number" class="form-control" id="exapmleInputPassword1" placeholder="Phone Number" name="phone">
            </div>

              {{!-- MESSAGE FILLUP --}}
            <div class="form-group">
              <label for="exapmleInputPassword1">Message</label>
              <input type="text" class="form-control" id="exapmleInputPassword1" placeholder="Message" name="message">
            </div>
            
            <button type="submit" class="btn-style btn-primary">Submit</button>

            </form>

          </div>
        </div>
    </div>
  </div>
</div>